{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true
    },
    "rules": {
        "prettier/prettier": "error"
    },
    "extends": ["@gymlib/eslint-config-react","plugin:react/recommended", "plugin:prettier/recommended"],
    "plugins": ["react"]
}
